body {
    font-family: calibri;
    text-align: center;
    background-color: E4B4B4;
}

.board {
    display: flex;
}

.high-score {
    position: absolute;
    margin-left: 200px;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #761818;
}

h2 {
    font-size: 16px;
    color: #761818;
}

.grid {
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFE4B5;
    border: 2px solid #A0522D;
}

.grid-blocks {
    width: 10px;
    height: 10px;
}

.snake {
    background-color: #228B22;
    width: 6px;
    height: 6px;
    border: 2px solid #3DCE3D;
    border-radius: 3px;
}

.food {
    background-color: #CD5C5C;
    width: 6px;
    height: 6px;
    border: 2px solid #F4A460;
    border-radius: 6px;
}

.bonus-food-1 {
    background-color: #6495ED;
    width: 6px;
    height: 6px;
    border: 2px solid #87CEFA;
    border-radius: 6px;
}

.bonus-food-2 {
    background-color: #EE82EE;
    width: 6px;
    height: 6px;
    border: 2px solid #FFA9FF;
    border-radius: 6px;
}

.table-for-buttons {
    margin: auto;
    margin-top: 10px;
}

.table-for-buttons td {
    padding: 2px;
}

.button {
    font-size: 18px;
    width: 100px;
    padding: 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    outline: none;
}

.button-accent {
    color: #D16715;
    background-color: #FFF6EB;
    border-color: #D16715;
}

.button-accent:active {
    color: #FFF6EB;
    background-color: #D16715;
}

.info-button {
    font-family: consolas;
    color: #F0FFFF;
    background-color: #1E90FF;
    padding: 1px 4px;
    margin-left: 20px;
    border: 2px solid #F0FFFF;
    border-radius: 4px;
    outline: none;
}

@media only screen and (min-width: 420px) {

    .board {
        margin: auto;
        width: 600px;
    }

    .high-score {
        margin-left: 400px;
    }

    h1 {
        margin-bottom: 5px;
        font-size: 36px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 24px;
    }

    .grid {
        width: 600px;
        height: 600px;
        border-width: 3px;
    }

    .grid-blocks {
        width: 20px;
        height: 20px;
    }

    .snake {
        width: 16px;
        height: 16px;
        border: 2px solid #3DCE3D;
        border-radius: 6px;
    }

    .food {
        width: 16px;
        height: 16px;
        border: 2px solid #F4A460;
        border-radius: 12px;
    }

    .bonus-food-1 {
        width: 16px;
        height: 16px;
        border: 2px solid #87CEFA;
        border-radius: 12px;
    }

    .bonus-food-2 {
        width: 16px;
        height: 16px;
        border: 2px solid #FFA9FF;
        border-radius: 12px;
    }

}

@media only screen and (max-width: 325px) {

    .high-score {
        margin-left: 160px;
    }

}
